@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
.{
    margin:0;
    padding:0;

}

.sidebar{
    background-color:rgb(160, 160, 160);
    width:22vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.5s ease-in;
}
.sidebar nav{
    padding: 30px;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 15px;

}
.sidebar nav li a{
    text-decoration: none;
    color: black;

}

.main{
    /*background-color: yellow;*/
    width: 80vw;
    height:100vh;
}
.container{
    display: flex;
}

.InfoConatainer{
    /*background-color: rgb(20, 20, 20);*/
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: space-around;

}

.DeveloperInformation{
    font-family: 'Kdam Thmor Pro', sans-serif;


}

.buttons button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 19px;
    color: white;
    background-color: rgb(129, 228, 129);
    cursor: pointer;
}

.contactform h2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;


}
.contactform {
    padding: 0 34px;
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: small;

}

.contactform form div{
    padding: 7px 0;
    display: flex;
    flex-direction: column;

}

.contactform div input{
    width:12vw;
    border-radius: 10px;
    margin: 6px 0 0 0;
    padding: 3px;
}
.contactform button{
    border-radius: 19px;
    color: white;
    background-color: rgb(129, 228, 129);

}

#form-check{
    flex-direction: row;

}
#form-check input{
    width:30px;
    margin: 2px 0;

}

.blog{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}
.blogitem{
    margin:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blogitem button{
    border-radius: 19px;
    color: white;
    background-color:rgb(115, 115, 240);
    cursor: pointer;

}


.intro p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     
}

.skillitem{
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skill{
    width: 300px;
    height: 5px;
    background-color: yellow;
    border: 2px solid black;
}


.hundred{
    width:300px;
    background-color: yellow;
}
.fifty{
    width:150px;
    background-color: red;
}

.twenty{
    width: 70px;
    background-color: blue;
}

.seventy{
    width: 225px;
    background-color: green;
}}

.hamburger{
    position: absolute;
    cursor: pointer;
    top:10px;
    left:10px;

}
.sidebargo{
    transform: translate(-443px,0px);
    position: absolute;
}

.one{
    display:flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.two{
    padding: 20px 0;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.summary {
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
    

}

.star{
    width: 10px;
    height: 10px;
}